@{
    ViewData["Title"] = "Pagina Principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Presione las opciones en la parte superior, para lo que desee realizar.</p>
</div>